{% extends "index.html" %}
{% load static %}
{% block title %}
    Blogs
{% endblock %}
{% block content %}
    <h1>Latest Blog Posts</h1>
    <div class="posts-container">
      {% for post in posts %}
        <div class="post-card">
          <h2><a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></h2>
          <img src="{{ post.thumbnail.url }}" alt="thumbnail" width='50px' height='50px'>
          <p>{{ post.created_at|date:"F j, Y" }} by {{ post.author }}</p>
          <p>{{ post.content|truncatewords:10 }}</p>
          <div class="btn">
            <a href="{% url 'blog-detail' post.slug %}">
              <button type='submit'>Read more</button>
            </a>    
          </div>
          
          {% if request.user.is_authenticated %}
          <div class="blog-create">
              {% if request.user == post.author %}
                  <a href="{% url 'delete_post' post.slug %}">Delete</a>
              {% endif %}
          </div>
          {% endif %}
        </div>
      {% empty %}
        <p>No posts found.</p>
      {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
      <div class="create-section">
        <button type="submit"><a href="{% url 'create_post' %}">Create Post</a></button>
        
      </div>
    {% endif %}

    {% if post.category %}
      <p>
        Category:
        <a href="{% url 'category-posts' post.category.slug %}">
          {{ post.category.name }}
        </a>
      </p>
    {% else %}

    {% endif %}
{% endblock %}
