{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Home page
        {% endblock %}</title>
    <link rel="stylesheet" href="{% static "home.css" %}">
    <link rel="stylesheet" href="{% static "blog_detail.css" %}">
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "edit_comment.css" %}">
    <link rel="stylesheet" href="{% static "delete_comment.css" %}">
    <link rel="stylesheet" href="{% static "register.css" %}">
    <link rel="stylesheet" href="{% static "login.css" %}">
    
</head>
<body>  
    <nav>
  <div class="left">
    <ul>
      <li><a href="{% url 'home_view' %}">Logo</a></li>
      <li><a href="{% url 'home_view' %}">Home</a></li>
      <li><input type="text" name="search" id="search" placeholder="search ...."></li>
    </ul>
  </div>

  <div class="right">
    <ul>
      <li><a href="#">Blogs</a></li>

      {% if request.user.is_authenticated %}
        <li>{{ request.user.username }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
          <a href="#">
            <div class="profile">
              <!-- You can add user profile picture here if available -->
              <img src="{% static 'request.user.profile_image' %}" alt="profile" class="profile-pic">
            </div>
          </a>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

    {% block content %}{% endblock %}
</body>
</html>